@charset "UTF-8";

body{
	background-image: url('Images/Beach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
}
.title-card-buffer{

	height: 300px;

}
.title-card-container{

	position: absolute;
	min-height: 400px;
	width: 100%;
	

}
.text{

	font-family: "Times New Roman", Times, serif;
	text-align: center;
	color: rgb(5, 37, 9);
}
h1{

	font-size: 120px;
	line-height: 0;

}
h2{

	font-size: 30px;
	
}
nav{
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding: 10px 10px;
	z-index: 3;
}
nav img{
	height: 60px;
	width: 60px;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}
nav ul li a{
	z-index: 4;
}


.header{
	background-color: antiquewhite;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	max-height: 80px;
}
